<div class="container" style="width: 900px; align-items: center;" >
    <h1 style="text-align: center; color: gray;">Listado de Productos</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Aceite</td>
            <td>14.3</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Atun</td>
            <td>14.3</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Sampoo</td>
            <td>14.3</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Jabon</td>
            <td>14.3</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Galletas</td>
            <td>14.3</td>
            <td>@10</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Gaseosa</td>
            <td>14.3</td>
            <td>@10</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mandarina</td>
            <td>14.3</td>
            <td>@10</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Leche</td>
            <td>14.3</td>
            <td>@10</td>
          </tr>
        </tbody>
      </table>
</div>