<button class="btn btn-danger" routerLink="/users" style="margin-right: 10px; margin: 10px;">VOLVER</button>
<div class="container" style="width: 900px; align-items: center;" >
    <h1 style="text-align: center; color: gray;">USUARIOS ACTIVOS</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">APELLIDO PATERNO</th>
            <th scope="col">APELLIDO MATERNO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Alvaro</td>
            <td>Alva</td>
            <td>Chipana</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Pablo</td>
            <td>Alva</td>
            <td>Farfan</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Dana</td>
            <td>Alva</td>
            <td>Chipana</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Vanessa</td>
            <td>Chipana</td>
            <td>Yactayo</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Alfredo</td>
            <td>Chipana</td>
            <td>Carbajal</td>
          </tr>
        
        </tbody>
      </table>
</div>