  <img src="assets/imagenes/p.jpg" width="100%" alt="">
    
    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1 class="font-weight-light">¿Quien es ADRA?</h1>
        <p class="lead">ADRA está considerada por los organismos internacionales como una red de agencias de ayuda humanitaria y de desarrollo. Es una ONGD confesional que estando vinculada a la Iglesia Adventista mantiene su estructura y organización administrativa de manera independiente. En los momentos actuales la red de ADRA está actuando en más de ciento veinte países. </p>
      </div>
    </section>
    <section class="py-5">
      <div class="container">
        <h1 class="font-weight-light">Misión</h1>
        <p class="lead">De acuerdo a las enseñanzas dadas por Jesucristo, ADRA cree que los seres humanos tienen el derecho a una vida digna y a desarrollar sus posibilidades sociales, morales e intelectuales.</p>
      </div>
    </section>
    <section class="py-5">
      <div class="container">
        <h1 class="font-weight-light">Visión</h1>
        <p class="lead">ADRA trabaja para lograr la equidad, la justicia social, la paz y la participación de todas las personas en su comunidad y país; creando oportunidades que favorezcan el desarrollo social, cultural, económico y democrático de los pueblos a partir de su propia creencia  y cultura.</p>
      </div>
    </section>
    <section class="py-5">
      <div class="container">
        <h1 class="font-weight-light">Valores</h1>
        <p class="lead">Respeto a la individualidad: Apoya que cada individuo y comunidad puedan fijarse metas de crecimiento y desarrollo a partir de su propia creencia y cultura. <br> <br>
  
          Desarrollo integral: Favorece el desarrollo de las capacidades de las personas, de las comunidades y de los países, creando oportunidades que les permitan alcanzar  sus derechos en los aspectos sociales, culturales, económicos y democráticos. <br> <br>
          
          Equidad de género: Tiene como elemento prioritario de su actuación fomentar el pleno ejercicio de los derechos de la mujer. <br>
          
          Respeto del medioambiente: Orienta siempre sus acciones y proyectos al cuidado de la naturaleza.  <br> <br>
          
          Calidad de la ayuda y transparencia: Desarrolla un esfuerzo de gestión permanente por la transparencia y la calidad en la gestión de la entidad, que deberá plasmarse en la realización del conjunto de sus actividades.
          
          </p>
      </div>
    </section>